# Application
# NODE_ENV=development
NODE_ENV=production
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=vutf_username
DB_PASSWORD=vutf@pa55
DB_DATABASE=vutf_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_ACCESS_SECRET=secretKey
JWT_REFRESH_SECRET=refreshSecretKey
JWT_EXPIRES_IN=1d

# Mailer
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=example@yourdomain.com
MAIL_PASSWORD=xxxx


# Object Storage
STORAGE_ENDPOINT=
STORAGE_PORT=
STORAGE_USE_SSL=
STORAGE_ROOT_USER=
STORAGE_ROOT_PASSWORD=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_BUCKET=
STORAGE_CONSOLE_PORT=
STORAGE_REGION=

# Upload Configuration
UPLOAD_MAX_FILE_SIZE=52428800


# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=vutf_q
RABBITMQ_PASSWORD=vutf_q@pa55
RABBITMQ_JOB_QUEUE=
RABBITMQ_RESULT_QUEUE=
