# ─────────────────────────────
# Application
# ─────────────────────────────
NODE_ENV=development
PORT=3000

# ─────────────────────────────
# Database (PostgreSQL)
# ─────────────────────────────
# ถ้าใช้ Docker ให้ใช้ DB_HOST=db
# ถ้าใช้ local Postgres ให้ใช้ DB_HOST=localhost
DB_HOST=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# ─────────────────────────────
# Redis
# ─────────────────────────────
# ถ้าใช้ Docker ให้ใช้ REDIS_HOST=redis
# ถ้าใช้ local Redis ให้ใช้ REDIS_HOST=localhost
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# ─────────────────────────────
# JWT Authentication
# ─────────────────────────────
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=


# ─────────────────────────────
# Frontend
# ─────────────────────────────
FRONTEND_URL=http://localhost:5173


# MinIO
MINIO_ROOT_USER=user_sample
MINIO_ROOT_PASSWORD=pass_sample123
MINIO_PORT=9999
MINIO_CONSOLE_PORT=9998